/* app css stylesheet */



.header-banner{
	background-image: url("../img/banner3.jpg");
    background-repeat: repeat-x;
    height: 51px;
}


.jpa {background-image: url("../img/bg_header.jpg");}

.logo-progium {
    right: 20%;
    top: 25px;
    position: absolute;
    height: 120px;
}

#nav{
	margin-top: 20px;
	/*height: 116% !important;*/
}

.navbar-brand{
	border-right: 0px solid #e3e9ed !important;
	min-width: 200px !important;
}

.radio-tipo{
	margin-left: 122px;
}

.input-cedula{
	margin-left: 150px;
}

.msj-error{
	  margin-left: 152px;
}

.th-table{
	padding: 0px 20px 0px;
}

.titleLista{
	color: #FFF;
}

.paddingTable{
	padding: 10px;
}